In [5]:
from pymongo import MongoClient

# Creating Object MongoClient
client = MongoClient()

# Connect MongoClient with portnumber and host
client = MongoClient("mongodb://localhost:27017")

In [6]:
# Create a database
mydatabase = client['Students']

# creating collections in the database
collection = mydatabase.studentscores # or
# collection = mydatabase['studentscores'] # you can also write like this

data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 

collection.insert_many(data)

InsertManyResult([ObjectId('661c4fe97a14030c8aa25c89'), ObjectId('661c4fe97a14030c8aa25c8a'), ObjectId('661c4fe97a14030c8aa25c8b'), ObjectId('661c4fe97a14030c8aa25c8c'), ObjectId('661c4fe97a14030c8aa25c8d'), ObjectId('661c4fe97a14030c8aa25c8e')], acknowledged=True)

In [55]:
## Find out total subjects of Krish and Amith

agg_result = collection.aggregate(
    [{"$group": 
      {"_id": "$user", "Total Subjects": {"$sum": 1}}}]
)

In [56]:
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Subjects': 3}
{'_id': 'Amit', 'Total Subjects': 3}

In [57]:
# Calculate the total score of each student

agg_result = collection.aggregate(
    [{"$group": {"_id": "$user", "Total Score": {"$sum": "$score"}}}]
)

for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Score': 250}
{'_id': 'Amit', 'Total Score': 235}

In [61]:
# Calculate the avg score of each student

agg_result = collection.aggregate(
    [{"$group": {'_id': "$user", "Avg score": {"$avg": "$score"}}}]
)

for i in agg_result:
    print(i)

{'_id': 'Krish', 'Avg score': 83.33333333333333}
{'_id': 'Amit', 'Avg score': 78.33333333333333}

In [82]:
import datetime as datetime

In [83]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [84]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2024, 4, 14, 22, 50, 27, 161216)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2024, 4, 14, 22, 50, 27, 161216)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2024, 4, 14, 22, 50, 27, 161216)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2024, 4, 14, 22, 50, 27, 161216)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2024, 4, 14, 22, 50, 27, 161216)}]

In [85]:
mycollection = mydatabase['stores']
mycollection.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [86]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}

In [88]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [90]:
# Access collection of the database  
collection=mydatabase['Books']

In [91]:
collection.insert_many(data)

InsertManyResult([1, 2], acknowledged=True)

In [92]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}