In [2]:
import pymongo

client = pymongo.MongoClient('mongodb://localhost:27017')

mydb = client['Employee']

empinfo = mydb.employeeinformation

In [3]:
record = {
    'firstname' : 'Srikanth',
    'lastname' : 'Shastraboina',
    'department' : 'Analytics',
    'qualification' : 'BE',
    'age': 28
}


empinfo.insert_one(record)

InsertOneResult(ObjectId('661c35f1398f60862913e787'), acknowledged=True)

In [4]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [5]:
empinfo.insert_many(records)

InsertManyResult([ObjectId('661c3729398f60862913e788'), ObjectId('661c3729398f60862913e789'), ObjectId('661c3729398f60862913e78a'), ObjectId('661c3729398f60862913e78b')], acknowledged=True)

In [6]:
# Simple query
empinfo.find_one()

{'_id': ObjectId('661c35f1398f60862913e787'),
 'firstname': 'Srikanth',
 'lastname': 'Shastraboina',
 'department': 'Analytics',
 'qualification': 'BE',
 'age': 28}

In [8]:
# quiry all the documents from a collection
# empinfo.find() # we need to use a for loop

for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('661c35f1398f60862913e787'), 'firstname': 'Srikanth', 'lastname': 'Shastraboina', 'department': 'Analytics', 'qualification': 'BE', 'age': 28}
{'_id': ObjectId('661c3729398f60862913e788'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('661c3729398f60862913e789'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('661c3729398f60862913e78a'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('661c3729398f60862913e78b'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [10]:
# Query json documents based on equality conditions

empinfo.find_one({'firstname': 'Srikanth'}) # gives only one document

{'_id': ObjectId('661c35f1398f60862913e787'),
 'firstname': 'Srikanth',
 'lastname': 'Shastraboina',
 'department': 'Analytics',
 'qualification': 'BE',
 'age': 28}

In [12]:
for record in empinfo.find({'firstname': 'Srikanth'}):
    print(record)

{'_id': ObjectId('661c35f1398f60862913e787'), 'firstname': 'Srikanth', 'lastname': 'Shastraboina', 'department': 'Analytics', 'qualification': 'BE', 'age': 28}

In [27]:
# Query using operators like $in, $nin, $or, $gt, $gte, $lt, $lte, $all

# '$or' operator
for record in empinfo.find({'$or': [{'qualification': 'BE'}, {'qualification': 'phd'}]}):
    print(record)

{'_id': ObjectId('661c35f1398f60862913e787'), 'firstname': 'Srikanth', 'lastname': 'Shastraboina', 'department': 'Analytics', 'qualification': 'BE', 'age': 28}
{'_id': ObjectId('661c3729398f60862913e78a'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

In [28]:
# '$in' operator

for record in empinfo.find({'age': {'$in':[28,35,30]}}):
    print(record)

{'_id': ObjectId('661c35f1398f60862913e787'), 'firstname': 'Srikanth', 'lastname': 'Shastraboina', 'department': 'Analytics', 'qualification': 'BE', 'age': 28}
{'_id': ObjectId('661c3729398f60862913e788'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('661c3729398f60862913e789'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}

In [31]:
# $and operator.
for record in empinfo.find({'$and': [{'qualification': 'phd'}, {'age': 34}]}):
    print(record)

{'_id': ObjectId('661c3729398f60862913e78a'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

In [30]:
# $and operator. we can use comma for And operator
for record in empinfo.find({'qualification': 'master', 'age': {'$lt':35}}):
    print(record)

{'_id': ObjectId('661c3729398f60862913e78b'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [32]:
inventory = mydb.inventory

In [35]:
inventory.insert_many([
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
])

InsertManyResult([ObjectId('661c3fce398f60862913e78c'), ObjectId('661c3fce398f60862913e78d'), ObjectId('661c3fce398f60862913e78e'), ObjectId('661c3fce398f60862913e78f'), ObjectId('661c3fce398f60862913e790')], acknowledged=True)

In [36]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm"}}):
    print(records)

{'_id': ObjectId('661c3fce398f60862913e78c'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [38]:
# Drop collection
mydb.inventory.drop()

# Functions to discuss
* pymongo.collection.Collection.update_one()

* pymongo.collection.Collection.update_many()

* pymongo.collection.Collection.replace_one()

In [39]:
inventory = mydb.inventory

In [40]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}
])

InsertManyResult([ObjectId('661c439d398f60862913e791'), ObjectId('661c439d398f60862913e792'), ObjectId('661c439d398f60862913e793'), ObjectId('661c439d398f60862913e794'), ObjectId('661c439d398f60862913e795'), ObjectId('661c439d398f60862913e796'), ObjectId('661c439d398f60862913e797'), ObjectId('661c439d398f60862913e798'), ObjectId('661c439d398f60862913e799'), ObjectId('661c439d398f60862913e79a')], acknowledged=True)

#### Update

In [44]:
inventory.update_one(
{'item': 'sketch pad'},
{'$set': {'size.uom': 'm', 'status': 'P'}, 
 '$currentDate':{'lastmodified': True}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [54]:
inventory.update_many(
    {'qty': {'$lt': 50}},
    {'$set': {'size.uom': 'in', 'status': 'P'},
    '$currentDate': {'lastmodified': True}})

UpdateResult({'n': 3, 'nModified': 3, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

#### Replace

In [55]:
inventory.replace_one(
    {"item" : "paper"},
    {"item" : "paper",
    "instock":[
        {"warehouse": "A", "qty": 60},
        {"warehouse": "B", "qty": 40} 
    ]}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

### Aggregate and Group
1. avg
2. sum
3. project